{% extends "base.html" %}

{% block title %}Windows8应用{% endblock %}

{% block import %}
<link rel="stylesheet" type="text/css" href="/index/static/css/privacy.css" />
{% endblock %}

{% block content %}
<div id="content">
	<div class="panel panel-success">
		<div class="panel-heading">Windows简略版应用</div>
		<div class="panel-body">
			<h2>应用名称</h2>
			<p>All In One Rhythm</p>
			<div>
				<a href="http://apps.microsoft.com/windows/zh-cn/app/all-in-one-rhythm/da86b903-48c8-4646-8546-fbf1389e45ba" target="_blank"><img src="/index/static/images/Store.png" alt="到应用商店查看">在 Windows 应用商店中查看</a>
			</div>
			<h2>隐私声明</h2>
			<p>本应用并不使用网络，也不会链接到其他站点，分享时所使用的网络由该提供分享功能的应用提供隐私声明。本应用亦不会收集用户信息。</p>
			<h2>联系方式</h2>
			<p>邮箱: dengyh071@gmail.com</p>
			<p>QQ: 1041204020</p>
		</div>
	</div>
</div>
{% endblock %}